[submodule "hierarchie"]
	path = hierarchie
	url = git@github.com:ATM-Consulting/dolibarr_module_hierarchie.git
[submodule "jouroff"]
	path = jouroff
	url = git@github.com:ATM-Consulting/dolibarr_module_jouroff.git
[submodule "valideur"]
	path = valideur
	url = git@github.com:ATM-Consulting/dolibarr_module_valideur.git
[submodule "absence"]
	path = absence
	url = git@github.com:ATM-Consulting/dolibarr_module_absence.git
[submodule "ressource"]
	path = ressource
	url = git@github.com:ATM-Consulting/dolibarr_module_ressource.git
[submodule "competence"]
	path = competence
	url = git@github.com:ATM-Consulting/dolibarr_module_competence.git
